@media screen and (max-width: 1200px) {
    body {
        justify-content: center;
        justify-text: center;
    }

    .cards, #about, #profile,
    #skills, #projects, #contact {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }

    #profile {
        height: 30%;
        margin-bottom: 10rem;
    }

    #profile-img-section {
        margin-top: 0;
    }

    section {
        align-items: flex-start;
        margin-bottom: 3rem;
        min-width: 600px;
    }

    #about, #skills, #projects {
        height: 20%;
    }

    .fSkill {
        min-width: 10vw;
    }

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .arrow {
        display: none;
    }

    #img1 {
        height: 400px;
        width: 400px;
    }

    .box2 {
        min-width: 60vw;
    }

    #contact {
        height: 10%;
    }

    .text {
        min-width: 800px;
    }

    .double {
        gap: 4rem;
        margin-bottom: .5rem;
        width: 10vw;
        min-width: 10vw;

    }

    .box{
        min-width: 400px;
    }

    #sbox{
        min-height: 200px;
    }
}









